.button-base {
	//display: inline-block;
	padding-top: 0;
	padding-right: 1em;
	padding-bottom: 0;
	padding-left: 1em;
	border: 0.15em solid var(col-pink, #ff0);
	margin: 4px 2px;
	background: var(col-btn, #ff0);
	border-radius: 1em;
	color: var(col-text-main, #ff0);
	cursor: pointer;

	/* ---------------------------------------------------------------------- */
	/* From .font-base */
	/* ---------------------------------------------------------------------- */
	font-family: 'Segoe UI';
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}

.button-base:hover {
	background: var(col-pink, #ff0);
}

.button-base:active {
	background: var(col-blue, #ff0);
}

.button-section-current {
	background: var(col-btn-current, #ff0);
}

.button-base.encodable {
	background: var(col-base-lighter1, #ff0);
}

/* Make the "encodable" versions have hover/active effects */
.button-base.encodable:hover {
	background: var(col-pink, #ff0);
}

.button-base.encodable:active {
	background: var(col-blue, #ff0);
}

.button-base.encoding {
	background: green;
}

/* Make it seem like this button is unavailable  */
.button-base.waiting {
	border: 0.15em solid var(col-btn, #ff0);
	/* background: var(col-base-lighter3, #ff0); */
	background: var(col-btn, #ff0);
	color: var(col-btn, #ff0);
	cursor: default;

}

/* Make the waiting button have no hover/active background colour change */
.button-base.waiting:active {
	background: var(col-btn, #ff0);

}
.button-base.waiting:hover {
	background: var(col-btn, #ff0);
}

.btn-shade1 {
	background: #111;
}
.btn-shade2 {
	background: #222;
}
.btn-shade3 {
	background: #333;
}
.btn-shade4 {
	background: #444;
}
.btn-shade5 {
	background: #555;
}
.btn-shade6 {
	background: #666;
}
.btn-shade7 {
	background: #777;
}

.text-button {
	color: var(col-yellow, #ff0);
	text-decoration: underline;
}

.text-button.nounderline {
	text-decoration: none;
}

.text-button:hover {
	color: var(col-pink, #ff0);
}

.text-button:active {
	color: var(col-blue, #ff0);
}