/* details.custom-select {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

details.custom-select[open] {
	z-index: 1;
}

summary.radios {
	padding: 1rem;
	background-color: #ddd;
	border-radius: 5px;
	cursor: pointer;
	list-style: none;
}

summary.radios::-webkit-details-marker {
	display: none;
}

details.custom-select[open] summary.radios:before {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	content: '';
}

summary.radios:after {
	display: inline-block;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	content: '';
	float: right;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary.radios:focus {
	outline: none;
}

details.custom-select[open] summary.radios:after {
	transform: rotate(-45deg) translate(0%, 0%);
}


li.list-item {
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
	margin: 0;
}

li.list-item:first-child {
	padding-top: 0;
}

li.list-item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}


summary.radios {
	counter-reset: radios;
}

input.slct[type=radio] {
	display: none;
	appearance: none;
	counter-increment: radios;
}

input.slct[type=radio]:checked {
	display: inline;
}

input.slct[type=radio]:after {
	display: inline;
	content: attr(title);
	font-size: 1rem;
}

ul.list {
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	width: 100%;
	max-height: 200px;
	box-sizing: border-box;
	padding: 1rem;
	margin: 0;
	background: #ddd;
	border-radius: 5px;
	counter-reset: labels;
	overflow-y: auto;
}

label.custom-select {
	display: block;
	width: 100%;
	cursor: pointer;
} */



/* Reset Select */
select {
	border: 1px solid var(col-pink, #ff0);
	margin-top: 0.5em !important;
	margin-bottom: 1.2em !important;
	appearance: none;
	background-color: var(col-base-lighter1, #ff0);
	box-shadow: none;
	color: var(col-text-main, #ff0);
	cursor: pointer;
	outline: 0;
}

select caption {
	background-color: var(col-base-lighter1, #ff0);
	color: var(col-text-main, #ff0);
}

select caption:hover {
	background-color: var(col-pink, #ff0);
}


select option {
	background-color: var(col-base-lighter1, #ff0);
	color: var(col-text-main, #ff0);
	cursor: pointer;
}

select option:hover {
	background-color: var(col-pink, #ff0);
}

select button[role="dropdown"] {
	/* Dropdown button background colour */
	background-color: var(col-base, #ff0);
	/* Dropdown button colour */
	fill: var(col-yellow, #ff0);
}