.font-logo {
	font-family: 'Spartan';
	font-size: 72px;
	font-weight: 500;
}

.font-header {
	font-family: 'Spartan';
	font-size: 46px;
	font-weight: 200;
}

.font-subheader {
	font-family: 'Spartan';
	font-size: 34px;
	font-weight: 200;
}

.font-title {
	font-family: 'Spartan';
	font-size: 24px;
	font-weight: 400;
}

.font-subtitle {
	font-family: 'Spartan';
	font-size: 20px;
	font-weight: 400;
}

.font-base {
	font-family: 'Segoe UI';
	font-size: 14px;
	font-weight: 600;
}

.font-body {
	font-family: 'Segoe UI';
	font-size: 14px;
	font-weight: 400;
}

.font-caption {
	font-family: 'Segoe UI';
	font-size: 12px;
	font-weight: 400;
}




.text-italic {
	font-style: italic;
}

.text-oblique {
	font-style: oblique;
}

.text-bold {
	font-style: bold;
}

.text-subtle-comment {
	color: var(col-text-subtle, #ff0);
	font-style: oblique;
}