@import "colours.css";
@import "fonts-text.css";
@import "buttons.css";
@import "rating.css";
@import "dropdown-select.css";


* {
	padding: 0;
	margin: 0;
}

html {
	width:max-content;
	height:max-content;
	background-color: var(col-base, #ff0);
	color: var(col-text-main, #ff0);
}

/* p { */
	/*  */
/* } */

p.normal {
	margin-top: 0.5em;
	margin-bottom: 1.2em;
}

video { 
	image-rendering: optimize-quality;
	size:*;
}


/* -------------------------------------------------------------------------- */
/* SECTION Global stuff */
/* -------------------------------------------------------------------------- */

/* Classes to individually apply scroll bars to whatever elements.
Uses scroll-indicator, which I think is a Sciter thing, as it's prettier
and is less obstructive than "scroll" */
.scrollable-x {
	overflow-x: scroll-indicator;
}

.scrollable-y {
	overflow-y: scroll-indicator;
	/* overflow-y: scroll | auto; */
}

/* Take up remainder of area and make it appear as if the user can click on it to close
the current menu */
.clickoff-zone {
	width: *;
	height: *;
	background-color: var(col-clickoff, #ff0);
	cursor: pointer;
}

/* I couldn't think of a better name, so have this metaphoric naming instead*/
.book-width {
	width: 60vw;
}

.flow-vert {
	flow: vertical;
}
.flow-horiz {
	flow: horizontal;
}

.text-center-x {
	text-align: center;
}

.margin-center-x {
	margin-right: auto;
	margin-left: auto;
}

.margin-center-y {
	margin-top: auto;
	margin-bottom: auto;
}

.padtop-2em {
	padding-top: 2em;
}
.padtop-4em {
	padding-top: 4em;
}
.padtop-2vh {
	padding-top: 2vh;
}
.padtop-4vh {
	padding-top: 4vh;
}

.padbot-2em {
	padding-bottom: 2em;
}
.padbot-4em {
	padding-bottom: 4em;
}
.padbot-2vh {
	padding-bottom: 2vh;
}
.padbot-4vh {
	padding-bottom: 4vh;
}


.margintop-2em {
	margin-top: 2em;
}
.margintop-4em {
	margin-top: 4em;
}
.margintop-2vh {
	margin-top: 2vh;
}
.margintop-4vh {
	margin-top: 4vh;
}

.marginbot-2em {
	margin-bottom: 2em;
}
.marginbot-4em {
	margin-bottom: 4em;
}
.marginbot-2vh {
	margin-bottom: 2vh;
}
.marginbot-4vh {
	margin-bottom: 4vh;
}

/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Main Stuff */
/* -------------------------------------------------------------------------- */

#main-wrapper {
	width: 100vw;
	height: 100vh;
	flow: grid(
		1 1,
		2 2,
	);
	/* size: *; */
}

#reactor-navigation {
	/* Thin bar at top, take up all width */
	width: *;
	height: 50px;
	background-color: var(col-base, #ff0);
	transition: 0.5s;
}

/* Provide a "margin" for the content, and allows the nav open/close button to sit in the top left
comfortably without overlapping*/
#reactor-content { 
	/* Take up all available space */
	width: *;
	height: *;
	background-color: var(col-base, #ff0);
}

#nav-content {
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	flow: horizontal;
}

#nav-content-active {
	width: 30vw;
	height: 100vh;
	background-color: var(col-base-lighter1, #ff0);
	flow: vertical;
}

/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Input Form */
/* -------------------------------------------------------------------------- */

.centered-form { 
	/* width:550px; */
	/* margin-right: auto; */
	/* margin-left: 90px; */
	flow: vertical;
}

.form-item-center {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.form-input {
	border: 0.15em solid var(col-pink, #ff0);
	margin-top: 0.5em;
	margin-bottom: 1.2em;
	background-color: var(col-base-lighter1, #ff0);
	border-radius: 1em;
	color: var(col-text-main, #ff0);
}

/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Video Section */
/* -------------------------------------------------------------------------- */
.video-and-ratings-container {
	width: 100vw;
	height: 100vh;
	flow: grid(
		1 2,
		3 2,
	);
}

.video-ratings {
	/* Take up set width and all available height */
	width: 30vw;
	height: *;
	margin-right: 5px;
	margin-left: 5px;
	background-color: var(col-base, #ff0);
}

.video-options {
	/* Take up all remaining width and height */
	width: *;
	height: *;
	background-color: var(col-base, #ff0);
	flow: vertical;
}

.video-options .top-bar {
	width: *;
	flow: horizontal;
	border-spacing: *;
}

.video-options .source-container {
	// width: 50%;
	flow: vertical;
}
.video-options .source {
	// width: 50%;
	flow: horizontal;
}

.video-options .quality-container {
	// width: 50%;
	flow: vertical;
}
.video-options .rating-bar.quality {
	// width: 50%;
	// flow: horizontal;
}


.video-comment-container {
	display: block;
	width: *;
	height: *;
}

.video-comment-input {
	display: block;
	width: 40vw;
	height: 8em;
	margin: 0 auto;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Video player */
/* -------------------------------------------------------------------------- */

/* Sets the main CSS of the video generator */
#custom-videoplayer {
	/* size: *; */
	/* width: 70vw; */
	/* height: 60vh; */
	width: 70vw;
	height: *;
	/* padding-top: 56.25% */
	/* padding-top: 80% */
	/* border:1px solid #000; */
	/* border: 2px solid #ff0064; */
	foreground-size:contain;
}

/*
Sets the behavior of the video.generator element
This is done as a type so that it can be added as an attribute
in Reactor scripting.
The behavior corresponds to the behavior set with
video_generated_stream_factory() : behavior_factory("video-generator")
in C++.
Don't ask me how this works, it just does.
See sciter-sdk/samples/vudeo/video-generator-demo.htm
*/
#custom-videoplayer[behavior="engaged"] {
	behavior: custom-video-generator video;
}


/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */

.question-section-wrapper {
	height: *;
	overflow-y: scroll-indicator;
}

.question-section-container {
	width: 60vw;
	margin-right: auto;
	margin-left: auto;
	flow: vertical;
	text-align: center;
}