 


.video-ratings {
	flow: vertical;
}

.rating-bar {
	margin-top: 0.5em;
	/* margin-bottom: 1.2em; */
	/* display: block; */
	flow: horizontal;
	list-style: none;
}


.rating-bar > li {
	/* The width property is applied here to make all the list elements
	equally sized, resulting in the label buttons being equally sized. */
	width: *;
}

/* Hide the input element so that the radio button isn't seen */
.rating-bar input {
	display: none;
}

.button-rating {
	display: block;
	border: 0.15em solid var(col-pink, #ff0);
	margin: 4px 2px;
	border-radius: 1em;
	text-align: center;
	user-select: none;
}

/* Apply the padding to the quality-selector buttons in the video streamer section */
.button-rating.quality {
	padding-top: 0;
	padding-right: 1em;
	padding-bottom: 0;
	padding-left: 1em;
}

/*
Show which button is checked. This makes the label next to the checked
input receive the style as well as the input element is hidden.
*/
.rating-bar input:checked + label {
	background: var(col-blue, #ff0);
}

.rating-bar input[type="radio"]:hover {
	background: var(col-pink, #ff0);
}
.rating-bar input[type="radio"]:checked {
	background: var(col-blue, #ff0);
}

.button-rating:hover {
	background: var(col-pink, #ff0);
}

.button-rating:active {
	background: var(col-blue, #ff0);
}

/* Make the two descriptors, one on the left and one on the right,
aligned horizontally and make the spacing between them space-between
to put them on the sides */
.rating-left-right-descriptors {
	border-spacing: *;
	flow: horizontal;
}